<section class="post_container">
  <%= render partial: 'shared/post', locals: { post: @post, show_full_post: true } %>
  <%= render partial: "shared/like", locals: { like: Like.new, post_id: @post.id, user_id: @post.author.id } %>
  <div class="comments_container">
    <% @post.comments.each do |comment| %>
      <%= render partial: 'shared/comment', locals: { comment: comment } %>
    <% end %>
  </div>
    <button type="button" class="new_post_btn btn">
      <%= link_to "Add new comment", new_user_post_comment_path(user_id: @post.author.id, post_id: @post.id) %>
    </button>
    <button type="button" class="back_btn btn">
      <%= link_to "Click to go back to posts page", user_posts_path(@user) %>
    </button>
</section>